<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div id='links'>
  <%= link_to 'Replase Ajax field to list of users(html - JQuery function)', users_path, remote: true %>
  <%= link_to 'Add new user form to Ajax field(appendTo - JQuery function)', new_user_path, remote: true %>
</div>
<h1>Ajax field</h1>
<div id='ajax_field'>
  <%= render template: 'users/new' %>
</div>
